:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 2rem;

  --color-white: #FFFFFF;
  --color-neutral-1: #E4E4E4;
  --color-neutral-2: #C6C6C6;
  --color-neutral-3: #A8A8A8;
  --color-neutral-4: #909090;
  --color-neutral-5: #727272;
  --color-neutral-6: #545454;
  --color-neutral-7: #363636;
  --color-neutral-8: #181818;
  --color-black: #000000;
  --color-accent: #dd16ddd7;
  --color-status-error: #db1212;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-accent);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: unset;
  padding: unset;
}

fieldset {
  all: unset
}

button {
  cursor: pointer;
  background-color: var(--color-neutral-1);
}

button:hover {
  filter: brightness(105%);
}

button:active {
  filter: brightness(95%);
}

input, button {
  height: var(--spacing-xl);
}

input, textarea {
  background-color: var(--color-white);
}

input, textarea, button {
  padding: var(--spacing-xs) var(--spacing-md);
  border: 1px solid var(--color-black);
  border-radius: var(--spacing-xs);
}


[draggable] {
  cursor: move;
}